<article class="box-wapper">
   <headers></headers>
    <section id="box-wapperInn">
        <left-side-menu></left-side-menu>
        <aside id="box-midSec">
            <div class="box-midSecInn">
                <div class="box-leaderboard">
                    <h4>Open Challenges</h4>
                    <div class="box-openChallenges">
                        <div class="row box-openChallengesInn">
                            <div class="col-9 col-tabelChallenger">
                                <div class="table-main table-game">
                                    <div class="row table-header">
                                        <div class="col-4">Game</div>
                                        <div class="col-4">Players</div>
                                        <div class="col-2">Mmr</div>
                                        <div class="col-2">Amount</div>
                                    </div>
                                    <div class="table-body box-scroll challengeScroll">

                                        <div class="box-noRecordFound" ng-if="logs.length < 1 && !openTableLoader"> {{CONSTANTS.noRecordFound}}</div>

                                        <div class="row " ng-repeat="log in logs" ng-class="{'gameProgress-myCreated':  log.key1 == currentUser.userLoginDetails.playerName, 'gameProgress-waiting' : log.key1 != currentUser.userLoginDetails.playerName}">
                                            <div class="col-4"><a class="link-whiteBlue overflowTxt-ellipsis" ng-click="redirectWithParams('challengeStatus', {address:log.address})">Dota 2</a></div>
                                            <div class="col-4"><a style="cursor: pointer;" class="link-whiteBlue overflowTxt-ellipsis"   ng-click="showOtherUserModal(log.key1)">{{log.key1}}</a></div>
                                            <div class="col-2">{{log.mmr | number : 2}}</div>
                                            <div class="col-2">{{log.amount}}</div>
                                        </div>
                                    </div>
                                    <div id="loading" class="table-loading" ng-class="{'show' : openTableLoader, 'hide': !openTableLoader}">
                                      <span id="loading-image"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-3 col-createChallenger">
                                <ul class="list-createChallenger">
                                    <li>
                                        <div class="box-createChallenger">
                                            <figure class="box-createChallengerImg" style="background-image:url('{{currentUser.playerInfo.avatarIcon}}');"></figure>
                                            <span class="text-createChallenger">{{currentUser.userLoginDetails.playerName}}</span>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="box-createChallenger box-createChallengerRight">
                                            <figure class="box-createChallengerImg"></figure>
                                            <span class="text-createChallenger">Opponent</span>
                                        </div>
                                    </li>
                                </ul>

                                <div class="box-createChallengerAmt">
                                    <em class="d-flex align-self-center">Amount</em>
                                    <input class="input-amount" type="text" name="amount" ng-model="amount" only-digits placeholder="Enter amount">            
                                </div>
                                <button class="btn link-navBlueButton" type="button" ng-click="openMetamaskPopup()" ng-disabled="amount <= 0 || !amount">CREATE CHALLENGE</button>
                                <!-- !canCreateChallenge ||  -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="box-midSecInn">
                <div class="box-games">
                    <h4>Games</h4>
                    <div class="games-checkbox">
                        <div class="col-8">
                            <label class="game-check">
                                <input type="checkbox" ng-model="filter.myGameOnly" ng-change="filteredGameLIst()">
                                <em class="labelchk">My Gams only</em>
                                <span class="checkmark"></span>
                            </label>
                            <label class="game-check">
                                <input type="checkbox" ng-model="filter.open" ng-change="filteredGameLIst()">
                                <em class="labelchk">Open</em>
                                <span class="checkmark"></span>
                            </label>
                            <label class="game-check">
                                <input type="checkbox" ng-model="filter.inProgess" ng-change="filteredGameLIst()">
                                <em class="labelchk">In progress</em>
                                <span class="checkmark"></span>
                            </label>
                            <label class="game-check">
                                <input type="checkbox" ng-model="filter.finished" ng-change="filteredGameLIst()">
                                <em class="labelchk">Finished</em>
                                <span class="checkmark"></span>
                            </label>
                        </div>
                        <div class="col-4 reput-dropdown">
                            <span>Reputation</span>
                            <form class="reput-select">
                                <input ng-keyup="filteredGameLIst()" class="reput-input" type="text" name="quantity" ng-model="filter.reputation" min="0" ng-disabled="filter.myGameOnly" only-digits placeholder="0">
                            </form>
                        </div>
                    </div>
                    <div class="table-main table-game">
                        <div class="row table-header">
                            <div class="col-3 col-compare-1">Status</div>
                            <div class="col-3 col-compare-2">Players</div>
                            <div class="col-2">Game</div>
                            <div class="col-2">Amount</div>
                            <div class="col-2">Outcome</div>
                        </div>
                        <div class="table-body box-scroll gameScroll">
                            <div class="box-noRecordFound" ng-if="games.length < 1 && !tableLoader">{{CONSTANTS.noRecordFound}}</div>
                            <div class="row" data-ng-repeat="game in games" ng-class="{'gameProgress-waiting' : (game.event | gameStatus).toString() == 'Open Challenge', 'gameProgress-ongoing': (game.event | gameStatus).toString() == 'Ongoing Challenge' }">

                                <div class="col-3 col-compare-1"><a class="link-whiteBlue overflowTxt-ellipsis" style="cursor: pointer" ng-click="redirectWithParams('challengeStatus', {address:game.address})">{{ game.event | gameStatus}}</a></div>

                                <div class="col-3 col-compare-2"><a style="min-width: 55px;cursor: pointer;" class="link-whiteBlue link-vs"  ng-click="showOtherUserModal(game.key1)">{{game.key1}}</a> <span class="box-vs">vs</span> <em style="cursor: pointer;" class=" link-vs" ng-class="{'link-whiteBlue' : (game.key2),'box-vsWaiting': !(game.key2)}"  ng-click=" game.key2 && showOtherUserModal(game.key2)">{{ (game.key2) ? game.key2 : 'waiting...' }}</em></div>

                                <div class="col-2"><i class="overflowTxt-ellipsis">Dota 2</i></div>
                                <div class="col-2">{{game.amount}}</div>
                                <div class="col-2" ng-if="game.event != 'Resolve'"><i class="overflowTxt-ellipsis">{{game.event | gameOutcome}}</i></div>
                                <div class="col-2" ng-if="game.event == 'Resolve'"><i class="overflowTxt-ellipsis">{{(game.winner == 1 ) ? ' Win' : 'Loss'}}</i></div>
                            </div>
                        </div>
                        <div id="loading" class="table-loading" ng-class="{'show' : tableLoader, 'hide': !tableLoader}">
                          <span id="loading-image"></span>
                        </div>
                    </div>
                </div>
            </div>
        </aside>
        <aside id="box-rightSec">
            <div class="box-findMatchSec">
                <ul class="list-findMatch">
                    <li><a class="link-blueButton" ng-click="findMatch()">Find a match</a></li>
                    <li>
                        <a class="link-navBlueButton" ng-click="openlink('https://github.com/Firstbloodio/dapp')"><span class="icon-info">Need Help</span></a>
                        <a class="link-borderShow" ng-click="openlink('http://firstblood.io/')">Launch firstblood online</a>
                        <a class="link-borderShow" ng-click="openlink('https://store.steampowered.com')">Launch steam</a>
                        <a class="link-borderShow" ng-click="openMetamask('open-metamask-popup')">Open Metamask</a>
                    </li>
                </ul>
            </div>            
        </aside>
    </section>
        <footer class="box-footer"></footer>
</article>

<div class="box-modal modal fade" id="Info">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <!-- <h5 class="modal-title"><img src="images/logo-beta.png" title="" alt=""></h5> -->
        <button type="button" class="btn close" data-dismiss="modal" aria-label="Close">&times;</button>
      </div>
      <div class="modal-body">
        <h4>No player found.</h4>
      </div>
      <div class="modal-footer">
        <button type="button" data-dismiss="modal" aria-label="Close" class="btn btn-green">OK</button>
        <!-- <button type="button" class="btn btn-red" data-dismiss="modal" aria-label="Close" ng-click="logout();">Yes</button> -->
      </div>
    </div>
  </div>
</div>