<div class="box-modal modal fade" id="configure" tabindex="-1" aria-hidden="true" role="dialog">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content box-shadowBlue">
            <div class="modal-header">
                <h5 class="modal-title modal-logo" style="background-image:url('assets/images/logo-beta.png');"></h5>
            </div>
            <div class="modal-body">
                <div class="box-profile">
                    <figure class="box-profileImg" style="background-image:url('assets/images/loader.gif'); width: 25px; height: 25px; border: none; float: left; margin: -2px;"></figure>
                    <span class="box-profileName" style="margin-left: 40px; display: block; font-size: 12px;margin-top: 10px; overflow: visible; white-space: inherit;">Please wait. We're loading!</span>
                </div>
            </div>
        </div>
    </div>
</div>